<%= link_to_remote('Ajouter un nouveau film', :url=>{:controller=>'movie', :action=>'search_form'}, :update=>'new') %>
<div id='new'></div>

<br/>
Mes films:<br/>
<ul id='my_movies'>
<%= render(:partial=>"movie/my_movies", :collection=>session['user'].movies) %>
</ul>

