<%= link_to_remote('Ajouter un nouveau film', :url=>{:controller=>'movie', :action=>'search_form'}, :update=>'new') %>
<div id='new'></div>

<br/>

Derniers films:<br/>
<ul id='last'>
<%= render(:partial=>"movie/last", :collection=>@last) %>
</ul>

Mes films:<br/>
<ul id='my_movies'>
<%= render(:partial=>"movie/my_movies", :collection=>@my_movies) %>
</ul>

