Pour l'instant ya rien.<br/>
Ca sera une appli pour partager les titres de nos derners films vus.<br/>
Pouvoir avoir rapidement des idees de visionages.<br/>
Se partager des titres pas des fichiers.<br/>
Un peu comme <a href="http://www.librarything.com/">librarything</a> mais pour les films.<br/>
<br/>
En francais !<br/>
(sauf le titre)<br/>  
Youpi !<br/>


