Hi <%= @user.name %>,

You are now registred on PTM, the open source Project and Task Manager.
If you ever lose you password, just enter your email on the login page in the lost password form.

Best regards,
PTM: http://protaskm.com
For any question please email protask@protaskm.com.

