<h2>Login</h2>
You can <%=link_to "sign up", :action=>'signup'%> for a new account.<br/>
<br/>

<div title="Account login" id="loginform" class="form">
    
<% form_tag :action=> "login" do %>
	<label for="user_email">Email:</label>
   <input type="text" name="user[email]" id="user_email" size="30" value=""/><br/>
   <label for="user_password">Password:</label>
   <input type="password" name="user[password]" id="user_password" size="30"/><br/>
   <input type="submit" name="login" value="Login &#187;" class="submitbutton" /> <% if @message %><div id="notice"><%= @message %></div><% end %>
<% end %>
<br/>
</div>

<h3>Lost password ?</h3>
<p>You are not required to give a email address when you sign up.<br/>
But you can give one later by editing your user information.<br/>
This will enable you to reset your password in case you forget it.<br/>
<br/>
Did you forget your password ?<br/>
Type your email in this form, you will then receive a link by email to reset your password.<br/>
</p>
<% form_remote_tag(:update =>'status',:url => { :action => :send_reset_email }, :loading=>"$('status').innerHTML='Sending...'") do %>
<label for="email">Email:</label>
<%= text_field_tag :email %>
<%= submit_tag "Send &#187;" %>
<% end %>


<div id='status'></div>

<h2>About</h2>

<p>Movies !</p>

<h3>Open source</h3>

<p>This application is entirely free. You can use this site directly or <a href="http://code.google.com/p/movierails/">download the Rails source code</a>.</p>



