<li id="url_<%=url.id%>">
<a href="<%= url.url %>"><%= url.name %></a>
<% if session['user'] and url.user_id == session['user'].to_i %>
[<%= link_to_remote('supprimer',:url=>{:controller=>'url',:action=>'del',:id=>url}, :update=>"url_#{url.id}", :confirm=>"Supprimer ce lien ?")%>]
<% end %>
</li>

